[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Implementation of CVPR 2013 paper: Block and Group Regularized Sparse Modeling for Dictionary Learning
[access "refs/*"]
	owner = group user/Jason Yu-Tseh Chi (chi3x10)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jason Yu-Tseh Chi (chi3x10)
	label-Verified = -1..+1 group user/Jason Yu-Tseh Chi (chi3x10)
	push = group user/Jason Yu-Tseh Chi (chi3x10)
	read = group user/Jason Yu-Tseh Chi (chi3x10)
	rebase = group user/Jason Yu-Tseh Chi (chi3x10)
	removeReviewer = group user/Jason Yu-Tseh Chi (chi3x10)
	submit = group user/Jason Yu-Tseh Chi (chi3x10)
[access "refs/heads/*"]
	create = group user/Jason Yu-Tseh Chi (chi3x10)
	push = +force group user/Jason Yu-Tseh Chi (chi3x10)
	pushMerge = group user/Jason Yu-Tseh Chi (chi3x10)
	read = group user/Jason Yu-Tseh Chi (chi3x10)
[access "refs/tags/*"]
	push = group user/Jason Yu-Tseh Chi (chi3x10)
	push = +force group user/Jason Yu-Tseh Chi (chi3x10)
